<%= link_to '', {:controller => 'dash', :action => 'index'}, :id => 'home' %>
<%= link_to '', {:controller => 'about', :action => 'index'}, :id => 'about' %>
<%= link_to '', {:controller => 'decorations', :action => 'index'}, :id => 'decorations' %>
<%= link_to '', {:controller => 'landscape', :action => 'index'}, :id => 'landscape' %>
<%= link_to '', {:controller => 'holiday', :action => 'index'}, :id => 'holiday' %>
	<div class="listDate"><%= Date.today.strftime("%B %d, %Y") %></div>